<!DOCTYPE html>
<html lang="en" >
<!-- this shows reporst inside the reporttable.ejs -->
<head>
  <meta charset="UTF-8">




    <link href="../assets/css/show.css" rel="stylesheet" />

</head>

<body>

  <div id="users">
  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="name">
    Sort by name
  </button>
  <table class="t1">
    <!-- IMPORTANT, class="list" have to be at tbody -->
    <tbody class="list">

      <tr>
       <td>ID</td>
       <td>salary</td>
       <td>hra</td>
        <td>da</td>
        <td>ta</td>

     </tr>
      <% print.forEach(function (results) { %>
             <tr>
                 <td><%= results.emp_id %></td>
                 <td><%= results.salary %></td>
                 <td><%= results.hra %></td>
                 <td><%= results.da %></td>
                 <td><%= results.ta %></td>
             </tr>
          <% }) %>
    </tbody>
  </table>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<script src="../assets/js/showdetails.js"></script>






</body>

</html>
